<!doctype html>
<meta charset="utf-8">
<head>
    <link type="text/css" rel="stylesheet" href="/static/css/stylesheet.css"/>
    <title>ADM-CASH</title>
</head>
<body>
    <div class="wrapper fadeInDown">
            <div class="row">
                    <div class="col-md-5">
                        <img src="/./static/img/money-PNG-e1532606569895-300x269.png" id="icon" alt="User Icon">
                        <p>Bienvenido, {{ username }}!</p>
                        <div id="formFooter">
                            <a class="underlineHover" href="{{ url_for('logout') }}">Cerrar Sesion</a>
                    </div>
                      <form action="{{url_for('gastos')}}">
                          <input type="submit" class="fadeIn fourth" value="Gastos"><br />
                        </form>
 
                  </div>
                </div>
    </div>
</body>
</html>
